@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@-webkit-keyframes like {
  0% {
    background-position: top;
    transform: scale(0.9, 1);
  }
  50% {
    transform: scale(1.2, 1.3);
  }
  100% {
    background-position: bottom;
    transform: scale(0.9, 1);
  }
}
@keyframes like {
  0% {
    background-position: top;
    transform: scale(0.9, 1);
  }
  50% {
    transform: scale(1.2, 1.3);
  }
  100% {
    background-position: bottom;
    transform: scale(0.9, 1);
  }
}
@-webkit-keyframes buttonin {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@keyframes buttonin {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@-webkit-keyframes buttonout {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}
@keyframes buttonout {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", cursive;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 20px;
  width: calc(100% - 40px);
}
section.lightgray {
  background-color: #F6F6F6;
}
section.reservation {
  text-align: center;
  padding-bottom: 50px;
}
section.reservation > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
section.reservation > p {
  font-size: 18px;
}
section.gray {
  position: relative;
  z-index: 0;
  background: #EAEAEA;
  text-align: center;
  color: #353535;
  font-weight: bold;
}
section.gray > i {
  margin-right: 10px;
}
section > h2 {
  font-family: "Roboto", sans-serif;
}

footer {
  background: #353535;
  padding: 5px 25px;
}
footer > h2 {
  font-weight: 500;
  font-size: 20px;
}
footer > h2 > a {
  color: white;
  text-decoration: none;
}
footer > h2 > a:hover {
  color: #99E2D0;
}
footer > ul {
  padding: 0;
  list-style: none;
  line-height: 25px;
}
footer > ul > li > a {
  color: white;
  text-decoration: none;
}
footer > ul > li > a:hover {
  color: #99E2D0;
}
footer > ul > li > a > i {
  margin-right: 10px;
}

header {
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  height: 70px;
}
header > a > img {
  transform: scale(0.85);
}

.card {
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  color: black;
  background: white;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.card:visited {
  color: black;
}
.card > .new {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 12px;
}
.card > img {
  position: relative;
  z-index: 1;
  width: 100%;
  aspect-ratio: 16/8;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card > .description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.card > .description > .description-info {
  margin: 5px 15px 0 15px;
  line-height: 10px;
}
.card > .description > .description-info > h3 {
  font-family: "Roboto", sans-serif;
}
.card > .description > .description-like {
  margin: 20px 20px 0 0;
}

.new {
  display: block;
  padding: 7px 15px;
  font-size: 14px;
  font-style: normal;
  border-radius: 2px;
  color: #278870;
  background-color: #99E2D0;
}

.like {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
}
.like > i {
  position: absolute;
  font-size: 25px;
  transform: scale(0.9, 1);
}
.like > i:last-child {
  display: none;
  background: linear-gradient(180deg, white 0%, white 50%, #FF79DA 50%, #9356DC 100%);
  background-size: 100% 200%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: like ease-in-out 0.3s both;
          animation: like ease-in-out 0.3s both;
}
.like > i:first-child {
  display: block;
}
.like:hover i:first-child {
  display: none;
}
.like:hover i:last-child {
  display: block;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: linear-gradient(-5deg, #FF79DA 0%, #9356DC 85%, #FF79DA 100%);
  background-size: 2000%;
  -webkit-animation: buttonout 0.8s ease-in-out backwards;
          animation: buttonout 0.8s ease-in-out backwards;
}
.button:hover {
  -webkit-animation: buttonin 0.8s ease-in-out forwards;
          animation: buttonin 0.8s ease-in-out forwards;
}
.button.big {
  padding: 15px;
  border-radius: 100px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=main.css.map */