footer {
    background: $colour-darkgray;
    padding: 5px 25px;

    &>h2 {
        font-weight: 500;
        font-size: 20px;

        &>a {
            color: white;
            text-decoration: none;

            &:hover {
                color: $colour-tertiary;
            }
        }
    }

    &>ul {
        padding: 0;
        list-style: none;
        line-height: 25px;

        &>li>a {
            color: white;
            text-decoration: none;

            &:hover {
                color: $colour-tertiary;
            }

            &>i {
                margin-right: 10px;
            }
        }
    }
}