.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: linear-gradient(-5deg, $colour-secondary 0%, $colour-primary 85%, $colour-secondary 100%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    animation: buttonout 0.3s ease-in-out backwards;
    background-size: 2000%;

    &:hover {
        animation: buttonin 0.4s ease-in-out forwards;
    }

    &.big {
        padding: 15px;
        @include all-round-big;
    }

    &.order {
        display: block;
        text-align: center;
        font-size: 16px;
        @include roboto;
        width: 140px;
        border: none;
        margin: 40px auto 80px auto;
    }
}