.card {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    color: black;
    background: white;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    @include all-round-little;
    @include drop-shadow-big;


    &:visited {
        color: black;
    }


    &>.new {
        position: absolute;
        z-index: 2;
        top: 12px;
        right: 12px;
    }

    &>img {
        position: relative;
        z-index: 1;
        width: 100%;
        aspect-ratio: 16/8;
        object-fit: cover;
        @include round-top-little;
    }


    &>.description {
        display: flex;
        justify-content: space-between;

        &>.description-info {
            margin: 5px 15px 0 15px;
            line-height: 10px;

            &>h3 {
                @include roboto;
            }
        }

        &>.description-like {
            margin: 20px 20px 0 0;
        }
    }
}