.like {
    display: block;
    position: relative;
    z-index: 3;
    width: 25px;
    height: 25px;

    &>i {
        position: absolute;
        font-size: 25px;
        transform: scale(0.9, 1);

        &:last-child {
            display: none;
            background: linear-gradient(180deg, white 0%, white 50%, $colour-secondary 50%, $colour-primary 100%);
            background-size: 100% 200%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: $colour-primary;
            animation: like ease-in-out 0.3s both;
        }

        &:first-child {
            display: block;
        }
    }

    &:hover i:first-child {
        display: none;
    }

    &:hover i:last-child {
        display: block;
    }
}