.menu-main {
    position: relative;

    &>img {
        width: 100%;
        object-fit: cover;
        max-height: 275px;
    }
}

.menu-form {
    position: relative;
    width: 100%;
    background: $colour-lightgrey;
    margin-top: -40px;
    padding-top: 10px;
    border-radius: 40px 40px 0 0;

    &>h2 {
        margin-left: 20px;
        font-weight: 200;
        font-size: 28px;
    }

    &>h3 {
        margin-left: 20px;
        @include roboto;
        font-weight: 200;
        font-size: 16px;
        text-transform: uppercase;

        &::after {
            content: "";
            display: block;
            width: 35px;
            height: 3px;
            margin-top: 3px;
            background: $colour-tertiary;
        }
    }

    &>.menu-like {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 40px;

        @media (max-width: $micro) {
            right: 20px;
        }
    }
}