@keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity:1;
  }
}

@keyframes moveIn {
  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes itemAppear {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
} 


@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

  .delay1{
    animation: moveIn 1s ease-in-out 0.1s;
  }

  .delay2{
    animation: moveIn 1s ease-in-out 0.2s;
  }
  
  .delay1{
    animation: moveIn 1s ease-in-out 0.3s;
  }
  .delay3{
    animation: moveIn 1s ease-in-out 0.4s;
  }

  .delay4{
    animation: moveIn 1s ease-in-out 0.5s;
  }
  
  .delay5{
    animation: moveIn 1s ease-in-out 0.6s;
  }
  .delay6{
    animation: moveIn 1s ease-in-out 0.6s;
  }

  .delay7{
    animation: moveIn 1s ease-in-out 0.7s;
  }
  
  .delay8{
    animation: moveIn 1s ease-in-out 0.8s;
  }

  .delay9{
    animation: moveIn 1s ease-in-out 0.9s;
  }

  .delay10{
    animation: moveIn 1s ease-in-out 0.99s;
  }

 


