// Fonts
@mixin shrikhand {
    font-family: 'Shrikhand', cursive;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

// Borders roundness
@mixin round-top-little {
    border-radius: 15px 15px 0 0;
}

@mixin all-round-little {
    border-radius: 15px;
}

// Shadows
@mixin drop-shadow-big {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
}

@mixin drop-shadow-little {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
}