//Colors
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-lightgrey: #F6F6F6;
$colour-grey: #EAEAEA;
$colour-medgrey: #7E7E7E;
$colour-darkgrey: #353535;

//Breakpoints
$tablets: 768px;
$desktops: 992px;
$micro: 300px;